Library/
Logs/
Packages/
ProjectSettings/ProjectVersion.txt
Temp/
.vs/
obj/
*.csproj
*.sln
Assets/XLua/Gen/
Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
AssetBundle/
ignore.conf
.vsconfig
