Library/
Logs/
Packages/
ProjectSettings/
Temp/
.vs/
obj/
*.csproj
*.sln
Assets/XLua/Gen/
Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/
AssetBundle/
ignore.conf
.plastic/plastic.branchexplorer
.plastic/plastic.selector
.plastic/plastic.wktree
.plastic/plastic.workspace
